<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="centralize">Music playlist</div>
      </div>

      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Songs</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let music of musicPlayList; let i = index;">
              <td>{{music.bean.name}}</td>
              <td align="center">
                <table>
                  <tr>
                    <td class="border-remove">{{music.name}}</td>
                    <td class="border-remove">{{music.singer}}</td>
                    <td class="border-remove">
                      <button (click)="removeMusic(music)">Delete</button>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr>
                    <td class="border-remove">
                      <button (click)="addNewPlayList(music)">Add</button>
                    </td>

                    <td class="border-remove">
                      <button (click)="removeTypeOfMusic(music)">Delete</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="3" align="center">
                <button class="hide-button" (click)="addNewGenreWithPlayList()">
                  Add New Playlist
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <br *ngIf="isMusic">
        <table align="center" *ngIf="isMusic">
          <tr>
            <td>
              <select (change)="onChangeType($event)" name="musicTypeId">
                <option value="0" disabled="true">Select music type</option>
                <option *ngFor="let type of musicType">
                  {{type.name}}
                </option>
              </select>
            </td>
            <td>
              <input type="text" placeholder="Music name" [(ngModel)]="name">
            </td>
            <td>
              <input type="text" placeholder="Singer" [(ngModel)]="singer">
            </td>
            <td>
              <button (click)="addMusic()">Add</button>
            </td>
          </tr>
        </table>

        <br *ngIf="isGenre">
        <table align="center" *ngIf="isGenre">
          <tr>
            <td>
              <input type="text" placeholder="Music Genre" [(ngModel)]="nameGenre">
            </td>
            <td>
              <button (click)="addGenre()">Add genre</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>